<section>
  <form>
    <input type="text" name="ngModelBinded" placeholder="Filter by city" [(ngModel)]="ngModelBinded" />
    <button class="primary" type="button" (click)="handleEvent()">{{messageFromParent}}</button>
    <div>
      <input type="text" name="name" placeholder="enter name" [formControl]="myName"/>
    </div>
  </form>
</section>
<div>{{interpolated}}</div>
<div>{{ngModelBinded}}</div>
<div>{{propertyBinding}}</div>
{{myName}}
<section class="results">
  <app-housing-location></app-housing-location>
</section>
{{mappers | customFilter}}


<!-- Example of a directive -->
