<section>
  <form>
    <input type="text" name="ngModelBinded" placeholder="Filter by city" [(ngModel)]="ngModelBinded" />
    <button class="primary" type="button" (click)="handleEvent()">{{messageFromParent}}</button>
    
  </form>
</section>
<div>{{interpolated}}</div>
<div>{{ngModelBinded}}</div>
<div>{{propertyBinding}}</div>
<div>
  <input type="text" name="name" placeholder="enter name" (change)="handleSearchTextChange($event)"  [formControl]="myName"/>
</div>
<p>{{myName.value}}</p>


<span appHighlight>{{mappers | customFilter}}</span>

<div [ngStyle]="{color: 'white', underline:'true'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis neque asperiores dolore explicabo nulla ut voluptas officia reprehenderit eaque vitae, sint, temporibus placeat tempora voluptate. At earum quas in voluptatem.</div>
<!-- Housing Location -->

<app-housing-location ></app-housing-location>